.passbookTable-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backButtonBalance-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}